.app{
  text-align: center;
  padding: 20px 20%;
}

.app > .title {
  text-align: left;
  font-size: 150%;
}

.app > .buttons {
  min-height: 50px;
  text-align: right;
}

.app > .main-area {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: auto;
  min-height: 50px;
  padding: 20px;
  text-align: left;
}
